.search {
  align: center;

  &__input {
    &_title {
    positon: relative;
    margin: auto;
    display: inline-block;
    text-align: center;
    height: 10%;
    width: 98%;


    }

  &_description {
   positon: relative;
   margin: auto;
   display: inline-block;
   text-align: center;
   height: 10%;
   width: 98%;
    }
  }

  &__button {
    font-size: 15px;
    background: #EBD7D7;
    border: 10px solid #EBD7D7;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    align-items: center;
    padding: 10px 7px;
    margin: 10px 0px 10px 0px;
  }

}


