.search {
  align: center;

  &__input {
    &_title {
    positon: relative;
    margin: auto;
    display: inline-block;
    text-align: center;
    height: 10%;
    width: 98%;
    padding: 7px 0px 7px 0px;
    border: 4px solid #696969;
    border-radius: 5px;


    }

  &_description {
   positon: relative;
   margin: auto;
   display: inline-block;
   text-align: center;
   height: 10%;
   width: 98%;
   padding: 7px 0px 7px 0px;
   border: 4px solid #696969;
   border-radius: 5px;
    }
  }

  &__button {
    font-size: 15px;
    background: #EBD7D7;
    border: 3px solid #696969;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    padding: 7px 7px;
    margin: 7px 0px 0px 0px;
  }

}

