h2 {
  color: #333;
  font-family: -apple-system;
  font-weight: 100;
  font-size: 40px;
  margin: 5px 0px 10px 0px;
}

.conf__info {
  /* borders added for visibility. Just remove them */
  border: 10px solid #696969;
  border-radius: 10px;
  background: #696969;
  width: 270px;
  margin: 0px 0px 5px 0px;
  color: black;
}

.conf-list__text {
  display: block;
  width: 50px;
}

.change-info__button{
    font-size: 15px;
    background: #EBD7D7;
    border: 3px solid #696969;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    padding: 7px 5px;
    margin: 7px 0px 0px 0px;
}