@import "components_main/components_main";

h1{
    color: #EBD7D7;
    font-family: -apple-system;
    font-weight: 400;
    font-size: 80px;
    margin: 0px 0px 0px 0px;
}

h2{
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
    padding: 0;
}

.todo__header{
    border: none;
    height: 30%;
    width: 30%;
    text-align: center;
    margin: auto;
    padding: 0;
    background: transparent;
}

.todo__card{
    height: 60vh;
    width: 60%;
    margin: auto;
    padding: 0;
    background: transparent;
}

.todo__search{
    height: 20%;
    width: 100%;
}

.todo__body{
    height: 100%;
    width: 100%;
    display: inline-block;
    outline: 1px solid #e2e1e1;
    overflow-y: scroll;
    background: white;
}

.todo__menu{
    height: 7%;
    width: 100%;
    outline: 1px solid #e2e1e1;
}

.todo__form{
  float: left;
  //display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px solid #696969;
  border-radius: 10px;
  background: #EBD7D7;
  align: center;
  margin: 5px 5px 5px 5px;
}

.todo__form#updateForm {
 float:left;
 clear: right;
 margin-right: 100px;
}

.todo__enter{
  flex-direction: column;
  border: 10px solid #696969;
  border-radius: 10px;
  background: #696969;
  align: center;
  text-align: center;
  width: 40%;
  margin: 10px 0px 10px 0px;

}