<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/styles/todo.css">
    <title>Todos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../dist/bundle.js"></script>
</head>
<body>
<div class="todo__app">
    <div class="todo__menu menu">
        <button class="menu__exit">Exit</button>
        <span class="menu__counter">items left</span>
        <div class="menu__filter menu-filter">
            <button class="menu-filter__button filter-all">All</button>
            <button class="menu-filter__button filter-active">Active</button>
            <button class="menu-filter__button filter-completed">Completed</button>
        </div>
        <span class="menu__status">Элемент TODO</span>
        <button class="menu__configuration">&#9881</button>
    </div>
    <div class="todo__card">
        <div class="todo__search search">
            <button class="search__button">▼</button>
            <input type="text" class="search__input" placeholder="What needs to be done?">
        </div>
        <div class="todo__body">
            <!--            <div class = "todo__item todo-item">-->
            <!--                <input class= "todo-item__checkbox" type="checkbox" value="Элемент TODO">-->
            <!--                <span class = "todo-item__text">Элемент TODO</span>-->
            <!--                <button class = "todo-item__delete">&times</button>-->
            <!--            </div>-->
        </div>
    </div>
</div>
</body>
</html>