@import "components_auth/components_auth.css";
body{
    background: #F5F5F5;
}

h1{
    color: #EBD7D7;
    font-family: -apple-system;
    font-weight: 400;
    font-size: 80px;
    margin: 0px 0px 0px 0px;
}

h2{
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
    padding: 0;
}

auth__card{
    height: 60%;
    width: 60%;
    margin: auto;
    padding: 0;
    background: transparent;
}