<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/styles/authorization.css">
    <title>Todos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../static/src/auth.js"></script>
</head>
<body>
<div class="auth__page">
    <div class="auth__card">
        <div class="auth__header">
            <h1>Authorization page.</h1>
        </div>
        <div class="auth__warning warning">
            <span class = "warning__output message">Write your username and password!</span>
        </div>
        <div class="auth__username username">
            <input type="text" class="username__input" placeholder="Username">
        </div>
        <div class="auth__password password">
            <input type="text" class="password__input" placeholder="Password">
        </div>
        <div class="auth__button login">
            <button class="login__button">Login</button>
        </div>
    </div>
</div>
</body>
</html>