<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/styles/authorization.css">
    <title>Todos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../static/src/conf.js"></script>
</head>
<body>
<div class="conf__page">
    <div class="conf__card">
        <div class="conf__header">
            <h1>Personal information.</h1>
        </div>
        <div class="conf__info">
            <div class="conf__info__warning warning">
                <span class="warning__output message">Write your username and password!</span>
            </div>
            <div class="conf__info__username username">
                <input type="text" class="username__input" placeholder="Username">
            </div>
            <div class="conf__info__password password">
                <input type="text" class="password__input" placeholder="Password">
            </div>
            <div class="conf__info__fullname fullname">
                <input type="text" class="fullname__input" placeholder="Fullname">
            </div>
            <div class="conf__info__role role">
                <input type="text" class="role__input" placeholder="Role">
            </div>
        </div>
        <div class="conf__button change-info">
            <button class="change-info__button">Apply</button>
        </div>
    </div>
</div>
</body>
</html>